<div class = "container">
	<div class = "row">

			<%if @model == 'language' %>
				<h3>'<%= @content %>' の検索結果</h3>

				  	<% @labs.each do |lab| %>
	  				<div class="col-md-4">
						<p><%= attachment_image_tag lab, :image, :fill, 350, 200 %></p>
	  					<h4><%= link_to lab.title,lab_path(lab) %></h4>
	  					<p><b>地域</b> <%= lab.region %></p>
	  					<p><b>場所</b> <%= lab.place %></p>
			  			<p><b>日時　</b><%= lab.month %>月<%= lab.day %>日 <%= lab.time %>時〜</p>
			  			<p><b>扱う言語</b> <%= lab.language %></p>
			  			<p><b>参加費</b> <%= lab.price %>円</p>
			  			<p><b>現在の参加希望</b><%= lab.attends.count %>人 <b>参加可能人数</b> <%= lab.people %>人</p>
	  				</div>
  					<% end %>

  			<% else %>
  				<h3>'<%= @content %>' の検索結果</h3>

				  	<% @labs.each do |lab| %>
	  				<div class="col-md-4">
						<p><%= attachment_image_tag lab, :image, :fill, 350, 200 %></p>
	  					<h4><%= link_to lab.title,lab_path(lab) %></h4>
	  					<p><b>地域</b> <%= lab.region %></p>
	  					<p><b>場所</b> <%= lab.place %></p>
			  			<p><b>日時　</b><%= lab.month %>月<%= lab.day %>日 <%= lab.time %>時〜</p>
			  			<p><b>扱う言語</b> <%= lab.language %></p>
			  			<p><b>参加費</b> <%= lab.price %>円</p>
			  			<p><b>現在の参加希望</b><%= lab.attends.count %>人 <b>参加可能人数</b> <%= lab.people %>人</p>
	  				</div>
  					<% end %>
			<% end %>



	</div>
</div>