<div class="container">
	<div class="row">

		<%=link_to '編集',edit_user_path(@user) %>
		<h2>User Info</h2>
	  <div class="col-md-9 col-md-offset-4">
	  	<div class="form-group">
	  		<p><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image", size:'100x100') %></p>
	  	</div>
	  	<div class="form-group">
	  		<p>名前<%= @user.name%></p>
	  	</div>
	  	<div class="form-group">
	  		<p>メールアドレス<%= @user.email %></p>
	  	</div>
	  	<div class="form-group">
	  		<p>自己紹介<%= @user.word %></p>
	  	</div>



	  </div>

	  <h2>以前のもくもく会開催</h2>



	</div>
</div>