<div class="container">
	<div class="row">

		<h2><b>もくもく会一覧</b></h2>

	  <div class="col-md-12">
		<div class="col-md-7 col-md-offset-1">
			  <%= link_to "+", new_lab_path, class:"button" %>
			<div class="form-group">
			 <% @labs.each do |lab| %>
			  	<p><%= attachment_image_tag lab, :image, :fill, 520, 300 %></p>
			  <h2><%= link_to lab.title,lab_path(lab),class:"lab-title" %></h2>
			  	<p><%= attachment_image_tag(lab.user, :profile_image, :fill, 50, 50, fallback: "no-image.png", size:'50x50' ) %>
			  		<br>主催者<%= link_to lab.user.name, user_path(lab.user),class:"lab-user-name" %></p>
			  	<p><b>日時</b> <%= lab.month %>月<%= lab.day %>日 <%= lab.time %>時〜</p>
			  	<p><b>地域</b> <%= lab.region %> <b>場所詳細</b> <%= lab.place %></p>
			  	<p><b>扱う言語</b> <%= lab.language %></p>
			  	<p><b>参加費</b> <%= lab.price %>円　<b>コメント</b><%= lab.lab_comments.count %>件</p>
			  	<p><b>現在の参加希望</b><%= lab.attends.count %>人　<b>参加可能人数</b> <%= lab.people %>人</p>
			 <% end %>
			</div>
		</div>


		<!-- 検索機能 -->
		<div class="col-md-4">
        	<div class="search">
          		<div class="search-form">
            		<%= form_tag(search_search_path, method: :get) do %>
              				<%= text_field_tag 'search[content]' %>
              				<%= select_tag 'search[model]', options_for_select({ "言語" => "language", "地域" => "place" }) %>
              				<%= submit_tag '検索', class: "btn btn-primary" %>
            		<% end %>
          		</div>
       		</div>

       		 <!--ランキング表示-->
       		<h3>人気のもくもく会</h3>

       		<% @all_ranks.each do |lab| %>
       			<p>
       				<%= attachment_image_tag lab, :image, :fill, 250, 150 %><br>
       				<span class="favorite-title"><%= link_to lab.title,lab_path(lab) %></span><br>
			  		<b>日時</b> <%= lab.month %>月<%= lab.day %>日<br>
			  		<b><%= lab.region %></b> <%= lab.place %><br>
			  		<b>扱う言語</b> <%= lab.language %><br>
			  		<b>参加費</b> <%= lab.price %>円<br>
			  		<b>現在の参加希望</b><%= lab.attends.count %>人
			  	</p>
			<% end %>

		</div>


	  </div>

	</div>
</div>
