<div class="container">
	<div class="row">

		<h2>もくもく会一覧</h2>


		<div class="col-md-9 col-md-offset-2">
				<p><%= link_to "新規投稿", new_lab_path, class:"btn btn-success" %></p>
			<div class="form-group">
			 <% @labs.each do |lab| %>
			  	<p><%= attachment_image_tag lab, :image, :fill, 550, 300, format: 'jpeg' %></p>
			  <h2><%= link_to lab.title,lab_path(lab) %></h2>
			  	<p><%= attachment_image_tag(lab.user, :profile_image, :fill, 50, 50, fallback: "no-image", size:'50x50') %>
			  		<br>主催者<%= link_to lab.user.name, user_path(lab.user) %></p>
			  	<p><b>ラボの特徴</b> <%= lab.introduction %></p>
			  	<p><b>日時　</sb><%= lab.month %>月<%= lab.day %>日 <%= lab.time %>時〜</p>
			  	<p><b>地域</b> <%= lab.region %> <b>場所詳細</b> <%= lab.place %></p>
			  	<p><b>扱う言語</b> <%= lab.language %></p>
			  	<p><b>参加価格</b> <%= lab.price %>円　<b>参加人数</b> <%= lab.people %>人</p>
			  	<p>コメント<%= lab.lab_comments.count %>件</p>
			  	<p><b>予定参加人数</b> 人</p>
			 <% end %>

			</div>
		</div>



	</div>
</div>
