<div class="container">
	<div class="row">
		<h2><b>もくもく会詳細</b></h2>

	  <div class="col-md-6 col-md-offset-3">
			  	<p><%= attachment_image_tag @lab, :image, :fill, 550, 300 %></p>
			  <h2 class="lab-title-color"><%= @lab.title%></h2>
			  	<p class="lab-info">もくもく会情報</p>
                <p class="lab-text"><%= @lab.introduction %></p>
			  	<p class="lab-info">日時</p>
                <p class="lab-text"><%= @lab.month %>月<%= @lab.day %>日 <%= @lab.time %>時〜</p>
			  	<p class="lab-info">地域</p>
                <p class="lab-text"><%= @lab.region %></p>
                <p class="lab-info">場所詳細</p>
                <p class="lab-text"><%= @lab.place %></p>
            <div id='map'>地図</div>
			  	<p class="lab-info">扱う言語</p>
                <p class="lab-text"><%= @lab.language %></p>
			  	<p class="lab-info">参加費</p>
                <p class="lab-text"><%= @lab.price %>円</p>
                <p class="lab-info">現在の参加希望</p>
                <p class="lab-text"><%= link_to @lab.attends.count, users_attends_path(id: @user.id, lab_id: @lab.id) %>人</p>
                <p class="lab-info">参加可能人数</p>
                <p class="lab-text"><%= @lab.people %>人</p>

         <div id = "attend_<%= @lab.id %>">
            <%= render partial: 'labs/attend',lab: @lab %>
         </div>

         <div id = "favorite_<%= @lab.id %>">
            <%= render partial: 'labs/favorite',lab: @lab %>
         </div>

		     <% if @lab.user == current_user %>
 			   	<p><%= link_to 'もくもく会情報編集', edit_lab_path(@lab),class:"btn btn-success" %>
 			   	   <%= link_to 'もくもく会情報削除', lab_path(@lab), method: :delete, class:"btn btn-danger" %>
 			   	</p>
 			<% end %>



        <% if @lab_comment.errors.any? %>
            <h4 class="comment-color"><%= @lab_comment.errors.count %>件のエラー</h4>
                <ul>
                  <% @lab_comment.errors.full_messages.each do |message| %>
                    <li class="comment-color"><%= message %></li>
                  <% end %>
                </ul>
        <% end %>

 		<%= form_for [@lab, @lab_comment] do |f| %>
    	   <div class="row">
        	   <div class="col-md-8">
            	   <%= f.text_area :comment, rows:'3', class: "form-control form-group",placeholder: "コメントをここに" %>
    			 <%= f.submit "送信する", class: "btn btn-primary pull-right" %>
    	 	    </div>
    	    </div>
		<% end %>

	    <% @lab.lab_comments.each do |lab_comment| %>
			<div class="comment-text">
                    <div class="comment-author">
                        <b><%= lab_comment.user.name %>のコメント</b>
                    </div>
                    <div class="comment-entry"><%= lab_comment.comment %></div>
        		<% if lab_comment.user == current_user %>
        		  <p>
        			<%= link_to "削除する", lab_lab_comments_path(lab_comment.id), class: 'btn-sm btn-danger', method: :delete, "data-confirm" => "コメントを削除しますか?" %>
        		  </p>
        		<% end %>
        	</div>
        <% end %>

	  </div>


	</div>
</div>



<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @lab.latitude %>, lng: <%= @lab.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @lab.place %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBRKDRmBKgoKJQy4WI6CaU3282b3jM_QEc&callback=initMap">
</script>






