<div class="container">
	<div class="row">
		<h2><b>もくもく会詳細</b></h2>



	  <div class="col-md-6 col-md-offset-1">

			  	<p><%= attachment_image_tag @lab, :image, :fill, 500, 300, format: 'jpeg' %></p>
			  <h2><%= @lab.title %></h2>
			  	<p><b>開催者一言</b> <%= @lab.introduction %></p>
			  	<p><b>日時　</b><%= @lab.month %>月<%= @lab.day %>日 <%= @lab.time %>時〜</p>
			  	<p><b>地域</b> <%= @lab.region %> <b>場所詳細</b> <%= @lab.place %></p>
			  	<p><b>扱う言語</b> <%= @lab.language %></p>
			  	<p><b>参加価格</b> <%= @lab.price %>円　<b>参加人数</b> <%= @lab.people %>人</p>
    <!--いいね機能-->
        <p>
          <% if @lab.favorited_by?(current_user) %>
            <%= link_to lab_favorites_path(@lab, redirect_id: 0), method: :delete do %>
              <span class="glyphicon glyphicon-heart"></span><%= @lab.favorites.count %>
            <% end %>
          <% else %>
            <%= link_to lab_favorites_path(@lab, redirect_id: 0), method: :post do %>
              <span class="glyphicon glyphicon-heart-empty"></span><%= @lab.favorites.count %>
            <% end %>
          <% end %>
        </p>



			<% if @lab.user == current_user %>
 			   	<p><%= link_to '編集', edit_lab_path(@lab),class:"btn btn-success" %>
 			   	   <%= link_to '削除', lab_path(@lab), method: :delete, class:"btn btn-danger" %>
 			   	</p>
 			<% end %>


 			<%= form_for [@lab, @lab_comment] do |f| %>
    	<div class="row">
        	<div class="col-md-8">
            	<%= f.text_area :comment, rows:'3', class: "form-control",placeholder: "コメントをここに" %>

    			<%= f.submit "送信する", class: "btn btn-primary pull-right" %>
    	 	</div>
    	</div>
			<% end %>


	    <% @lab.lab_comments.each do |lab_comment| %>
			<div class="comment-text">
                    <div class="comment-author clearfix">
                        <b><%= lab_comment.user.name %>のコメント</b>
                        <span class="comment-meta">
                          <span class="comment-date"><%= lab_comment.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                    </div>
                    <div class="comment-entry"><%= lab_comment.comment %></div>
        		<% if lab_comment.user == current_user %>
        		  <p>
        			<%= link_to "削除する", lab_lab_comments_path(lab_comment.id), method: :delete, "data-confirm" => "Are you sure?" %>
        		  </p>
        		<% end %>
        	</div>
        <% end %>



	  </div>


	</div>
</div>