<div class="container">
	<div class="row">
		<h2>もくもく会詳細</h2>



		<div class="col-md-8 col-md-offset-3">

			   <h4>lab投稿ユーザーは編集できる</h4>
			   	<% if @lab.user == current_user %>
 			   <p><%=link_to '編集', edit_lab_path(@lab) %></p>
 			   	<% end %>
			  <p><%= attachment_image_tag @lab, :image, :fill, 500, 300, format: 'jpeg' %></p>
			  <h2><%= @lab.title %></h2>
			  <p><b>開催者一言</b> <%= @lab.introduction %></p>
			  <p><b>日時　</b><%= @lab.month %>月<%= @lab.day %>日 <%= @lab.time %>時〜</p>
			  <p><b>地域</b> <%= @lab.region %> <b>場所詳細</b> <%= @lab.place %></p>
			  <p><b>扱う言語</b> <%= @lab.language %></p>
			  <p><b>参加価格</b> <%= @lab.price %>円　<b>参加人数</b> <%= @lab.people %>人</p>
		</div>


	</div>
</div>