<div class="container">
	<div class="row">
		<h2><b>もくもく会詳細</b></h2>

	  <div class="col-md-6 col-md-offset-1">

			  	<p><%= attachment_image_tag @lab, :image, :fill, 500, 300 %></p>
			  <h2><%= @lab.title %></h2>
			  	<p><b>開催者一言</b> <%= @lab.introduction %></p>
			  	<p><b>日時 </b><%= @lab.month %>月<%= @lab.day %>日 <%= @lab.time %>時〜</p>
			  	<p><b>地域</b> <%= @lab.region %> <b>場所詳細</b> <%= @lab.place %></p>
			  	<p><b>扱う言語</b> <%= @lab.language %></p>
			  	<p><b>参加費</b> <%= @lab.price %>円</p>
                <p><b>参加希望人数</b> 人　<b>最大参加人数</b> <%= @lab.people %>人</p>
    <!--参加希望ボタン-->
        <p>
            <% if @lab.user == current_user %>
                <span class="btn btn-success">参加希望</span>
            <% else %>
                <span class="btn btn-danger">参加希望済み</span>
            <% end %>
        </p>

    <!--いいね機能-->
        <div id = "favorite_<%= @lab.id %>">
            <%= render partial: 'labs/favorite',lab: @lab %>
        </div>

        <!--地図表示-->
            <div id='map'></div>

			<% if @lab.user == current_user %>
 			   	<p><%= link_to '編集', edit_lab_path(@lab),class:"btn btn-success" %>
 			   	   <%= link_to '削除', lab_path(@lab), method: :delete, class:"btn btn-danger" %>
 			   	</p>
 			<% end %>




 			<%= form_for [@lab, @lab_comment] do |f| %>
    	<div class="row">
        	<div class="col-md-8">
            	<%= f.text_area :comment, rows:'3', class: "form-control",placeholder: "コメントをここに" %>

    			<%= f.submit "送信する", class: "btn btn-primary pull-right" %>
    	 	</div>
    	</div>
			<% end %>


	    <% @lab.lab_comments.each do |lab_comment| %>
			<div class="comment-text">
                    <div class="comment-author clearfix">
                        <b><%= lab_comment.user.name %>のコメント</b>
                        <span class="comment-meta">
                          <span class="comment-date"><%= lab_comment.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                    </div>
                    <div class="comment-entry"><%= lab_comment.comment %></div>
        		<% if lab_comment.user == current_user %>
        		  <p>
        			<%= link_to "削除する", lab_lab_comments_path(lab_comment.id), method: :delete, "data-confirm" => "Are you sure?" %>
        		  </p>
        		<% end %>
        	</div>
        <% end %>

	  </div>

            <!------- 検索機能 ---------->
        <div class="col-md-4">
            <div class="search">
                <div class="search-form">
            <%= form_tag(search_search_path, method: :get) do %>
                    <%= text_field_tag 'search[content]' %>
                    <%= select_tag 'search[model]', options_for_select({ "言語" => "lab", "地域" => "lab" }) %>
                    <%= submit_tag '検索', class: "btn btn-primary" %>
            <% end %>
                </div>
             </div>
        </div>



	</div>
</div>




<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @lab.latitude %>, lng: <%= @lab.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @lab.place %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBRKDRmBKgoKJQy4WI6CaU3282b3jM_QEc&callback=initMap">
</script>






